web/WEB-INF/wsdl/ProductoWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://webServices.empresaA_bpel_server.proyecto.org/" name="ProductoWebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webServices.empresaA_bpel_server.proyecto.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webServices.empresaA_bpel_server.proyecto.org/" schemaLocation="ProductoWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="productoXid">
    <part name="parameters" element="tns:productoXid"/>
  </message>
  <message name="productoXidResponse">
    <part name="parameters" element="tns:productoXidResponse"/>
  </message>
  <message name="crearProducto">
    <part name="parameters" element="tns:crearProducto"/>
  </message>
  <message name="crearProductoResponse">
    <part name="parameters" element="tns:crearProductoResponse"/>
  </message>
  <message name="productoUpdate">
    <part name="parameters" element="tns:productoUpdate"/>
  </message>
  <message name="productoUpdateResponse">
    <part name="parameters" element="tns:productoUpdateResponse"/>
  </message>
  <message name="productoDelete">
    <part name="parameters" element="tns:productoDelete"/>
  </message>
  <message name="listadoProductos">
    <part name="parameters" element="tns:listadoProductos"/>
  </message>
  <message name="listadoProductosResponse">
    <part name="parameters" element="tns:listadoProductosResponse"/>
  </message>
  <portType name="ProductoWebService">
    <operation name="productoXid">
      <input wsam:Action="http://webServices.empresaA_bpel_server.proyecto.org/ProductoWebService/productoXidRequest" message="tns:productoXid"/>
      <output wsam:Action="http://webServices.empresaA_bpel_server.proyecto.org/ProductoWebService/productoXidResponse" message="tns:productoXidResponse"/>
    </operation>
    <operation name="crearProducto">
      <input wsam:Action="http://webServices.empresaA_bpel_server.proyecto.org/ProductoWebService/crearProductoRequest" message="tns:crearProducto"/>
      <output wsam:Action="http://webServices.empresaA_bpel_server.proyecto.org/ProductoWebService/crearProductoResponse" message="tns:crearProductoResponse"/>
    </operation>
    <operation name="productoUpdate">
      <input wsam:Action="http://webServices.empresaA_bpel_server.proyecto.org/ProductoWebService/productoUpdateRequest" message="tns:productoUpdate"/>
      <output wsam:Action="http://webServices.empresaA_bpel_server.proyecto.org/ProductoWebService/productoUpdateResponse" message="tns:productoUpdateResponse"/>
    </operation>
    <operation name="productoDelete">
      <input wsam:Action="http://webServices.empresaA_bpel_server.proyecto.org/ProductoWebService/productoDelete" message="tns:productoDelete"/>
    </operation>
    <operation name="listadoProductos">
      <input wsam:Action="http://webServices.empresaA_bpel_server.proyecto.org/ProductoWebService/listadoProductosRequest" message="tns:listadoProductos"/>
      <output wsam:Action="http://webServices.empresaA_bpel_server.proyecto.org/ProductoWebService/listadoProductosResponse" message="tns:listadoProductosResponse"/>
    </operation>
  </portType>
  <binding name="ProductoWebServicePortBinding" type="tns:ProductoWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="productoXid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearProducto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="productoUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="productoDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="listadoProductos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProductoWebService">
    <port name="ProductoWebServicePort" binding="tns:ProductoWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

