web/WEB-INF/wsit-org.proyecto.empresaA_bpel_server.webServices.ProductoWebService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoWebService" targetNamespace="http://webServices.empresaA_bpel_server.proyecto.org/" xmlns:tns="http://webServices.empresaA_bpel_server.proyecto.org/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2004/09/policy" 
 >
    <message name="listadoProductos"/>
    <message name="listadoProductosResponse"/>
    <message name="crearProducto"/>
    <message name="crearProductoResponse"/>
    <message name="productoUpdate"/>
    <message name="productoUpdateResponse"/>
    <message name="productoXid"/>
    <message name="productoXidResponse"/>
    <message name="productoDelete"/>
    <message name="productoDeleteResponse"/>
    <portType name="ProductoWebService">
        <operation name="listadoProductos">
            <input message="tns:listadoProductos"/>
            <output message="tns:listadoProductosResponse"/>
        </operation>
        <operation name="crearProducto">
            <input message="tns:crearProducto"/>
            <output message="tns:crearProductoResponse"/>
        </operation>
        <operation name="productoUpdate">
            <input message="tns:productoUpdate"/>
            <output message="tns:productoUpdateResponse"/>
        </operation>
        <operation name="productoXid">
            <input message="tns:productoXid"/>
            <output message="tns:productoXidResponse"/>
        </operation>
        <operation name="productoDelete">
            <input message="tns:productoDelete"/>
            <output message="tns:productoDeleteResponse"/>
        </operation>
    </portType>
    <binding name="ProductoWebServicePortBinding" type="tns:ProductoWebService">
        <wsp1:PolicyReference URI="#ProductoWebServicePortBindingPolicy"/>
        <operation name="listadoProductos">
            <input/>
            <output/>
        </operation>
        <operation name="crearProducto">
            <input/>
            <output/>
        </operation>
        <operation name="productoUpdate">
            <input/>
            <output/>
        </operation>
        <operation name="productoXid">
            <input/>
            <output/>
        </operation>
        <operation name="productoDelete">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="ProductoWebService">
        <port name="ProductoWebServicePort" binding="tns:ProductoWebServicePortBinding"/>
    </service>
    <wsp1:Policy wsu:Id="ProductoWebServicePortBindingPolicy">
        <wsp1:ExactlyOne>
            <wsp1:All/>
        </wsp1:ExactlyOne>
    </wsp1:Policy>
</definitions>
